{{ define "main" }}
  <main class="book-page">
    <article class="markdown">
{{/* <h1>{{ .Title }}</h1> */}} 
      {{ .Content }}
      
      {{ if .Pages }}
        <h2>LIST</h2>
        <ul>
          {{/* .ByDate.Reverse를 사용하여 작성일 기준 최신순으로 정렬합니다 */}}
          {{ range .Pages.ByDate.Reverse }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </article>

    {{ if .TableOfContents }}
      <aside class="book-toc">
        <nav>{{ .TableOfContents }}</nav>
      </aside>
    {{ end }}
  </main>
{{ end }}